{% extends 'base.html.twig' %}

{% block title %}
    Confirmation de commande
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row backgroundOpacity">
            <h2 class="col-sm-6">Musée du Louvre</h2>
            <img class="col-sm-6" src="https://upload.wikimedia.org/wikipedia/fr/d/d1/Rmn-Grand-Palais.png" alt="logo du louvre" height="250px" width="250px">
        </div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 backgroundOpacity">
                <h3>Date de votre visite : {{ commande.datereza|date('d/m/Y') }}</h3>
                <h3>Montant total de votre commande : {{ commande.prixTotal }} €</h3>
                <h3>Liste des visiteurs :</h3>
                <ul>
                    {% for billet in commande.billets %}
                        <li>{{ billet.prenomClient }} {{ billet.nomClient }}, né(e) le {{ billet.dateNaissance|date('d/m/Y') }}</li>
                    {% endfor %}
                </ul>
                <h3>Votre code de réservation : {{ commande.random }}</h3>
            </div>
        </div>
    </div>

{% endblock %}
