{% extends 'base.html.twig' %}

{% block title %}View{% endblock %}

{% block body %}

    {{ dump(commande) }}
    {{ dump(billets) }}

    <p>Date de visite : {{ commande.datereza|date('d/m/Y') }}</p>

    Liste des billets :
    {% for billet in billets%}
        <ul>
            <li>Nom : {{ billet.nomClient }}</li>
            <li>Prénom : {{ billet.prenomClient }}</li>
            <li>Mail : {{ billet.mail }}</li>
            <li>Prix du billet : {{ billet.prixBillet }}</li>
        </ul>
    {% endfor %}

{% endblock %}