{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de la commande{% endblock %}

{% block body %}

    {{ dump(commande) }}

    <p>Date de visite : {{ commande.datereza|date('d/m/Y') }}</p>
    <p>Adresse mail de contact : {{ commande.mail }}</p>

    Liste des billets :
    {% for billet in commande.billets %}
        <ul>
            <li>Nom : {{ billet.nomClient }}</li>
            <li>Prénom : {{ billet.prenomClient }}</li>
            <li>Prix du billet : {{ billet.prixBillet }}</li>
        </ul>
    {% endfor %}

    <h3>Prix total : {{ commande.prixTotal }}</h3>

    <div id="status">
        <form action="{{ path('order_checkout', {'id': commande.id}) }}" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_XEUkd5Tnn470Zo4nUXESEveZ"
                    data-amount={{ commande.prixTotal * 100 }}
                    data-name="oc-stripe"
                    data-description="Widget"
                    data-locale="auto"
                    data-currency="eur">
            </script>
        </form>
    </div>

{% endblock %}